* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5ecdc; /* made page beige */
  color: #706868; 
}

header {
  position: fixed; /* so header doesn't move */
  top: 0; /* top of viewport */
  left: 0; /* to the left */
  width: 100%; 
  background-color: rgba(247, 235, 214, 0.9); /* low opacity background on header */
  padding: 3.5rem 1rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999; /* so the header stays above */
  height: 10px; 
}

.logo {
  font-size: 50px; 
  font-weight: bold; 
  padding-bottom: 28px;
  padding-top: 10px;
}

.logo a {
  color: #706868; 
  text-decoration: none; /* took away the underline */
}

.logo a:hover {
  color: #b99af6; /* makes hover light purple */
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 16px;
}

nav ul li a {
  position: relative; 
  color: #706868; 
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #fd53d8; /* hover colour */
}

/* to add rainbow lines under text */

nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px; 
  width: 100%;
  height: 1.9px; /* how thick line will be */
  background-color: transparent;
  transition: background-color 0.3s ease;
}
nav ul li:nth-child(1) a::after {
  background-color: #f4a891; 
}

nav ul li:nth-child(2) a::after {
  background-color: #e9aff6; 
}

nav ul li:nth-child(3) a::after {
  background-color: #8cd8f1; 
}

nav ul li:nth-child(4) a::after {
  background-color: #f49ac7; 
}

nav ul li:nth-child(5) a::after {
  background-color: #b5e2c6; 
}

.gallery {
  display: flex;
  justify-content: space-around;
  padding-top: 140px; /* move fp pictures under the image */
}

.gallery-item {
  text-align: center;
  display: flex; /* fp items flex */
  flex-direction: column;
  align-items: center;
}

.gallery-item img {
  width: 250px;
  height: auto;
  margin-bottom: 1rem;
}

.gallery-item p {
  transition: color 0.3s ease;
  font-size: 1rem; /* fp text size */
  padding: 0.5rem; /* space around */
  background-color: #706868; /* colour of gallery pics text box */
  border-radius: 0; 
  display: inline-block; 
  color: rgb(250, 244, 227); 
}

.gallery-item p:hover {
  color: #00d5ff; /* fp nav link thing colour for hover */
}

section {
  padding: 4rem 0;
  text-align: center; /* section texts centred */
}

section h2 {
  font-size: 1.65 rem; 
  color: #706868; 
}

footer {
  background-color: #bbeff5; /* blue footer */
  text-align: center;
  padding: 1rem;
  color: #706868(1, 1, 1); 
}

footer p {
  font-size: 0.86rem;
}

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  width: 44%;
  height: auto; /* keeps asp.rat, link faulty withiut command */
  margin-bottom: 1rem;
}

.gallery {
  margin-top: 50px; /* more space between header and gallery images */
}

.gallery-item {
  margin-bottom: 200px; /* makes space under images so next page doesnt rise */
}

section#about,
section#necklaces,
section#headpieces,
section#earrings,
section#cuffs {

padding-bottom: 700px; /* stretch the sections */
}

section#about,
section#necklaces,
section#headpieces,
section#earrings,
section#cuffs {

padding-top: 180px; 
}

/* CSS gradients.io */
section#about {
  background: radial-gradient(circle, rgba(246,168,130,1) 5%, rgba(245,236,220,1) 65%);
}

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container img {
  width: 100%; /* all images same width */
  height: auto; /* asp.rat */
}

.text-container {
  width: 45%; 
}

.about-container {
  display: flex;
  height: 600px; 
}

.left-section,
.middle-section,
.right-section {
  flex: 1; /* consistent width */
}

.left-section {
  background-color: #f8bba8; 
}

.left-section h3 {
  font-size: 4rem; 
  margin-top: 250px; 
  color: white; 
  transform: rotate(-90deg); /* flip text 90 degrees */
}

.middle-section {
  background-color: #edbff7; 
  display: flex;
  color: #fef8f8;;
  justify-content: center;
  align-items: center;
}

.right-section {
  background-color: #a6e0f3; 
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100%; 
}

.image-box {
  max-width: 80%; 
  text-align: center; 
}

.image-box img {
  max-width: 100%; 
  height: auto; /* asp.rat */
}

.text-container {
  width: 80%; 
}

/* queries */
@media only screen and (max-width: 768px) {
  
  header {
    padding: 1rem; /
  }

  .logo {
    font-size: 30px; 
  }

  .gallery {
    flex-direction: column; 
  }

  .gallery-item {
    margin-bottom: 50px; 
  }

  .gallery-item img {
    width: 200px; 
  }

  .section-container {
    flex-direction: column; 
  }

  section#about,
  section#necklaces,
  section#headpieces,
  section#earrings,
  section#cuffs {
    padding-top: 120px; 
    padding-bottom: 300px; 
  }
}